*{
    box-sizing: border-box;
}
button{
    outline: none;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 5em;
}

input{
    height: 100%;
    width: 420px;
    font-size: 5em;
}
button.execute:hover {
    background-color: #81c173;    
}
.numberChoices{
    width: 140px;
    height: 140px;
    outline: 1px solid whitesmoke;
}
.row{
    display: flex;
}    
.numbers{
    background-color: #61b24f;
    color: white;
    
}
.operators{
    background-color: #81c173;
}

